body {
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    line-height: 1.6
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
    background-color: rgb(40 40 40 / .3); 
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgb(255 255 255 / .3)
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex
}

nav ul li {
    margin-left: 1rem
}

nav a {
    color: #eee;
    text-decoration: none
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box
}

.hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    display: block
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(64 64 64 / .3);
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center
}

.mobile-nav ul li {
    margin: 1.5rem 0
}

.mobile-nav a {
    color: #eee;
    text-decoration: none;
    font-size: 1.5em
}

.mobile-nav.open {
    display: flex
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box
}

.hero-content {
    max-width: 800px;
    width: 100%
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5em
}

.hero-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5em
}

.hero-content p {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6;
    opacity: .9;
    margin-bottom: 1.5em
}

h2,
h3,
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}

.hero-content a {
    text-decoration: none
}

.hero-content button {
    background: rgb(255 255 255 / .1);
    color: #eee;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease
}

.hero-content button:hover {
    background-color: rgb(255 255 255 / .2)
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 5;
    order: 2;
    animation: bounce 1.5s infinite alternate
}

.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3
}

.section {
    padding: 4rem 2rem;
    text-align: center;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    background-color: #0011
}

.section h2 {
    font-size: 2em;
    margin-bottom: 1.5em
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: auto;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box
}

.card,
.project-card {
    background: rgb(255 255 255 / .1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255 255 255 / .2);
    box-shadow: 0 4px 6px rgb(0 0 0 / .1);
    text-align: left;
    width: calc(33% - 40px);
    min-width: 300px;
    box-sizing: border-box;
    position: relative
}

.card h3,
.project-card h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.2em
}

.card .company-dates {
    font-size: .8em;
    color: #ccc;
    margin-bottom: .8em
}

.card ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 1em;
    text-align: left;
    font-size: .9em
}

.card ul li {
    margin-bottom: .3em
}

.project-card {
    overflow: hidden
}

.project-card {
    display: block;
    text-decoration: none;
    color: #eee;
    padding: 20px;
    box-sizing: border-box
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: .8em;
    border-radius: 8px
}

.project-card p {
    margin-bottom: 1em;
    color: #ddd;
    font-size: .9em
}

.project-card .view-project {
    display: inline-block;
    background: rgb(255 255 255 / .2);
    color: #eee;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: .8em;
    transition: background-color 0.3s ease;
    bottom: 0;
    left: 50%;
    transform: translateX(-53%);
    box-sizing: border-box;
    position: relative
}

.project-card :hover .view-project {
    background-color: rgb(255 255 255 / .3)
}

.project-card img {
  max-width: 100%;
  width: 1000px; /* Set your desired fixed height */
  height: 400px;
  object-fit: cover; /* Maintain aspect ratio */
}


#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 100%;
    margin: 10 auto
}

#contact input[type='text'],
#contact input[type='email'],
#contact textarea {
    padding: .8rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #111;
    color: #eee;
    font-size: .9em
}

#contact textarea {
    resize: vertical;
    min-height: 120px
}

#contact button[type='submit'] {
    background: #007bff;
    color: #fff;
    border: none;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9em;
    transition: background-color 0.3s ease
}

#contact button[type='submit']:hover {
    background-color: #0056b3
}

@media (min-width:1200px) {
    body {
        font-size: 18px
    }

    header {
        padding: 1.5rem 2rem;
        height: 10%
    }

    .logo {
        font-size: 1.8em
    }

    nav ul li {
        margin-left: 1.5rem
    }

    nav a {
        font-size: 1.1em
    }

    .hero {
        padding: 0 4rem
    }

    .hero-content h1 {
        font-size: 4em
    }

    .hero-content p {
        font-size: 1.3em
    }

    .hero-content button {
        font-size: 1.1em;
        padding: 1.2rem 2.5rem
    }

    .scroll-down-indicator {
        font-size: 2.5em
    }

    .section {
        padding: 6rem 4rem
    }

    .section h2 {
        font-size: 2.5em
    }

    .card-container {
        padding: 0 4rem
    }

    .card h3,
    .project-card h3 {
        font-size: 1.5em
    }

    .card .company-dates {
        font-size: 1em
    }

    .card ul {
        font-size: 1em
    }

    .project-card p {
        font-size: 1em
    }

    .project-card .view-project {
        font-size: 1em;
        padding: .6rem 1.2rem
    }

    #contact form {
        max-width: 600px
    }

    #contact input[type='text'],
    #contact input[type='email'],
    #contact textarea,
    #contact button[type='submit'] {
        font-size: 1.1em;
        padding: 1rem
    }

    #contact textarea {
        min-height: 180px
    }
}

@media (min-width:768px) {
    header {
        justify-content: center
    }

    nav {
        margin-left: auto;
        margin-right: auto
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0
    }

    .hamburger {
        display: none !important
    }
}

@media (max-width:767px) {
    header {
        padding: .75rem 1rem;
        height: 60px
    }

    .logo {
        font-size: 1.2em
    }

    nav {
        display: none
    }

    .hamburger {
        display: block;
        position: fixed;
        top: .3rem;
        right: .3rem;
        z-index: 11
    }

    .hero {
        padding: 0 1.5rem
    }

    .hero-content h1 {
        font-size: 2.2em
    }

    .hero-content p {
        font-size: .9em
    }

    .section {
        padding: 3rem 1.5rem
    }

    .section h2 {
        font-size: 1.8em
    }

    .card,
    .project-card {
        width: 100%;
        margin-bottom: 1.5rem
    }

    .card-container {
        padding: 0 1.5rem;
        flex-direction: column
    }

    .project-card {
        padding: 15px
    }

    .project-card img {
        margin-bottom: .5rem
    }

    .project-card h3 {
        font-size: 1.3em
    }

    .project-card p {
        font-size: .85em
    }

    .project-card .view-project {
        font-size: .8em;
        padding: .4rem .8rem
    }

    #contact form {
        padding: 0 1rem
    }

    #contact input[type='text'],
    #contact input[type='email'],
    #contact textarea,
    #contact button[type='submit'] {
        font-size: .9em;
        padding: .8rem
    }
}

@media (min-width:768px) and (max-width:991px) {
    .header {
        height: 80px
    }

    .card,
    .project-card {
        width: calc(50% - 30px)
    }
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #111
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #111
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center
}

.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--text-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / .2);
    text-align: center;
    width: 80%;
    height: 90vh;
    max-width: 900px;
    min-width: 500px;
    min-height: 80vh;
    padding-top: 40px;
    padding-bottom: 40px
}

.modal p#modalMessage {
    margin-bottom: 15px
}

.modal button#modalCloseBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: .6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9em;
    transition: background-color 0.3s ease
}

.modal button#modalCloseBtn:hover {
    background-color: #0056b3
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -15px;
    margin-right: -40px;
    text-decoration: none
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none
}

.download-button-top {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -15px;
    margin-right: 20px;
    text-decoration: none
}

.download-button-top:hover,
.download-button-top:focus {
    color: #007bff;
    text-decoration: none
}

.pdf-container {
    width: 100%;
    height: 100%
}